/**
*   轮播组件的样式
*/

/*清除样式*/
.icarousel ul, .icarousel li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.icarousel {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.icarousel .icarousel-box {
    white-space: nowrap;
    width: 100%;
    height: 100%;
    position: absolute;
}

.icarousel .icarousel-box li {
    /*float: left;*/
    display: inline-block;
    width: 100%;
    height: 100%;
}

.icarousel .icarousel-box li * {
    display: inline-block;
    width: 100%;
    height: 100%;
}


.icarousel .icarousel-btn {
    height: 20%;
    width: 10%;
    position: absolute;
    top: 40%;
    background-color: #8f8f8f;
    background-color: rgba(0,0,0,.2);
    filter:alpha(opacity=40);
    opacity: 0.4;
    cursor: pointer;
}

.icarousel .icarousel-btn:hover {
    filter:alpha(opacity=90);
    opacity: 0.9;
}

.icarousel .icarousel-btn.next {
    right: 0;
}


